body{
    margin: 0;
    padding: 0;
    background-color: #111;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.container{
    display: flex;
    gap: 40px;
}
.card{
    width: 300px;
    height: 379px;
    border-radius: 20px;
    background: url(/Nico\ Robin.jpeg) center center no-repeat;
    background-size: 300px;
    box-shadow: 0 0 10px rgb(0,0,0,0.3);
    transition: background 0.85s ease, background-size 0.85s ease;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card:hover{
    background: url(/download.jpeg) left center no-repeat;
    background-size: 600px;
}
.card.alt{
    background: url(/download.jpeg) center center no-repeat;
    background-size: 300px;
}
.card.alt:hover{
    background: url(/Nico\ Robin.jpeg) right center no-repeat;
    background-size: 600px;
}
